@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    height: 75px;
    padding: 5px;
    padding-inline: 20px;
}

.header-hamburger {
    font-size: 38px;
    cursor: pointer;
}

#list{
    position: fixed;
    top: 75px;
    left: -260px; 
    width: 250px;
    height: 100vh;
    background: rgb(25, 24, 24);
    padding: 30px 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s ease;
}

nav ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

#list.active {
    left: 0;
}
